.fieldset-signup {
    display: flex;
    align-items: center;
    margin: 10px 5px;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    box-shadow: 6px 3px 8px #0000002d;
  }

  .signup-form {
    display: grid;
  }

  .checkbox-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .checkbox-label,
  .checkbox-label2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .checkbox-label a {
    color: #FCB434;
    text-decoration: none;
  }
  
  .checkbox-label a:hover {
    text-decoration: underline;
  }

  .checkbox-text {
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 10px;
  }

  .checkbox-text2 {
    margin-left: 10px;
  }
  

  .terms-link,
  .privacy-link {
    display: inline;
  }

  .signASK {
    color: #FCB434;
  }

  .signASK:hover {
    text-decoration: underline;
  }

  @media screen and (max-width:768px) {
    .checkbox-text,
    .checkbox-text2 {
      font-size: 12px;
    }

    .checkbox-signup-container p {
      font-size: 12px;
    }
  }
  

 

