.offer-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px; 
  margin-top: 20px;
}

.offer-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 97%;
  height: 97%;  
  border-radius: 10px;
}

.offer-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  font-size: 60px;
  color: white;
  text-shadow: 2px 0px #000;
  font-family: 'Madeline';
  font-weight: bold;
  margin-top: 100px;
}

.partners-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%; 
}

.android-icon {
  color: #000000;
}

.youtube-icon {
  color: #000000;
}

.airbnb-icon {
 color: #000000;
}

.circle-icon {
  color: #000000;
}
