.checkbox-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkbox-label,
  .checkbox-label2 {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .checkbox-label a {
    color: #FCB434;
    text-decoration: none;
  }
  
  .checkbox-label a:hover {
    text-decoration: underline;
  }

  .checkbox-text {
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  .checkbox-text2 {
    margin-left: 30px;
    margin-right: 30px;
  }
  
    
  .terms-link {
    display: inline;
    margin-left: 50px;
  }

  .signASK {
    color: #FCB434;
  }

  .signASK:hover {
    text-decoration: underline;
  }

  @media screen and (max-width:768px) {
    .checkbox-text,
    .checkbox-text2 {
      font-size: 12px;
    }

    .checkbox-signup-container p {
      font-size: 12px;
    }
  }
  

 

