.checkbox-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .checkbox-label,
  .checkbox-label2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .checkbox-label a {
    color: #000000;
    text-decoration: none;
  }
  
  .checkbox-label a:hover {
    text-decoration: underline;
  }

  .checkbox-text {
    white-space: nowrap;
    margin-top: 20px;
  }
  
  .terms-link,
  .privacy-link {
    display: inline;
  }

 

