body {
    font-family: 'Montserrat', sans-serif;
}

.bike-img {
    width: 1000px;
    height: 300px;
    object-fit: cover;
}

.photo-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -100px;
  }
  
.text {
    color: #FCB434;
    font-size: 3rem;
  }

  .propertyButton {
    display:flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
  }

  .propertyButton button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #FCB434;
    color:  #3C4464;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.propertyButton button:hover {
  background-color: #FCA434;
  cursor: pointer;
}



@media screen and (max-width:600px) {
    .text {
        font-size: 34px;
    }

    .bike-img {
        width: 400px;
        height: 250px;
    }

}